body {
    display: block;
    margin-top: 12em;
}

.block {
    text-align: center;
    width: 30em;
    background-color:thistle;
    margin: 0 auto;
    display: flex;
    padding: 8em;
}

.button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em;
    margin: 1.5em;
    cursor: pointer;
    color:teal;
    text-transform: uppercase;
    font-weight: bold; 
    font-style: italic;
}

.time {
    width: 5em;
    padding: 2em;
    background-color: blanchedalmond; 
    cursor: pointer;
    font-weight: bold;
}